@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: 'Roboto', sans-serif;
}

.chart-list {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chart-item {
  padding: 20px;
  margin: 5px;
  text-align: left;
  display: inline-block;
  width: 200px;
  word-break: normal;
  flex-grow: 1;
}

.artwork {
  transition:all 0.3s ease-out;
}

.artwork:hover {
  transform:scale(1.15);
}

a.link {
  text-decoration: none;
}

a, p {
  color: black;
}
