@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

div#header {
  display: flex;
  padding-bottom: 20px;
}

h1#page-heading {
  margin-bottom: 0px;
  padding-top: 45px;
  padding-left: 20px;
  }

.chart-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 100px;
  padding-right: 100px;
  border-top: 1px solid black;
}

.chart-item {
  padding: 10px;
  margin: 5px;
  text-align: left;
  display: inline-block;
  width: 200px;
  word-break: normal;
  flex-grow: 1;
}

div.zoom {
  transition:all 0.3s ease-out;
}

div.zoom:hover {
  transform:scale(1.15);
}

a.link {
  text-decoration: none;
}

a, p {
  color: black;
}

.artist-name {
  font-weight: bold;
}

.release-date {
  color: grey;
}

.release-date-paragraph {
  font-size: 10px;
}

#logo{
  height: 70px;
  padding-left: 100px;
  padding-top: 30px;
}
